html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
  overscroll-behavior: contain; /* stop swipe-to-refresh */
}

#spriteCanvas {
  display: block;
  touch-action: none; /* prevent swipe-to-refresh */
}
